*{
  box-sizing: border-box;
}
body{
  background-color: #f0f1f8 !important;
}
.container{
  padding: 10px;
  /* background-color: red; */
  max-width: fit-content;
  margin: 20px auto;
}
.btn{
  border: none;
  padding: 7px 15px;
  font-size:  18px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-add:hover {
  background-color: rgb(239, 14, 40);
  color: white;
  cursor: pointer
}
.btn-add{
  background-color: rgb(19, 6, 72);
  color: white;
}
.addContainer{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addContainer form{
  width: 420px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.addContainer form input{
  font-size: 18px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.addContainer form label{
  font-size: 18px;
}
.addContainer form button{
  background-color: royalblue;
  color: white;
  font-weight: 500;
  margin-top: 20px;
}
.addContainer form button:hover {
  background-color: rgb(15, 4, 88);
  color: white;
  cursor: pointer
}

.addContainer form .close-btn{
  margin-left: auto;
  font-size: 18;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #000;
  cursor: pointer;
}
.tableContainer{
  margin-top: 50px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.tableContainer table thead tr th{
  min-width: 200px;
  padding: 7px ;
  text-align: center;
}
.tableContainer table thead tr{
  background-color: #f0eaea;
}
.tableContainer table tbody tr{
  border: 1px solid #c9c5c2;
}
.tableContainer table tbody tr td{
  min-width: 200px;
  padding: 7px ;
  text-align: center;
}
.tableContainer table tbody tr td{
  border-bottom: 1px solid #080401;
}
.tableContainer1{

  /* margin: 10%; */
  margin-top: 50px;
  margin-left: 350px;
  /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
  border-radius: 5px;
}
.tableContainer1 table thead tr th{
  min-width: 200px;
  padding: 7px ;
  text-align: center;
}
.tableContainer1 table thead tr{
  background-color: #ffbcbc;
}
.tableContainer1 table tbody tr{
  border: 1px solid #c9c5c2;
}
.tableContainer1 table tbody tr td{
  min-width: 200px;
  padding: 7px ;
  text-align: center;
}
.tableContainer1 table tbody tr td{
  border-bottom: 1px solid #080401;
}
.btn-edit,
.btn-delete{
  font-size: 16px;
  padding: 5px 10px;
  margin: 0px 5px;
}
.btn-edit{
  background-color: #18e441;
}
.btn-delete{
  background-color: #fa1717;
  color: white;
}
.btn-edit:hover {
  background-color: rgb(1, 130, 20);
  color: white;
  cursor: pointer
}
.btn-delete:hover {
  background-color: rgb(166, 1, 1);
  color: white;
  cursor: pointer
}
.btn-submit:hover {
  background-color: rgb(166, 1, 1);
  color: white;
  cursor: pointer
}
.brand{
  color: Black;
}
.nav-link{
  color:#000 !important;
}
.navbar-brand{
  color: #000;
}
.salesagentheader{
  text-align: center;
}